body{
background-color:rgb(253, 236, 167);
}
p{
    font-size: large;
    font-weight: 200;
    font-display:initial;
    font-family:'Times New Roman', Times, serif;
    color:rgb(99, 71, 2);
}
h1,h2{
    color:rgb(44, 32, 2);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font
}


